<h2>business index</h2>
<div>
  <% @businesses.each do |business|%>
    <%= link_to(business_path(business)) do %>
      <div>
        <%= business.name %>
        <p>distance</p>
        <p>Open Until: <%= business.schedules.first.closes.strftime("%H:%M") %> on <%= business.schedules.first.closes.strftime("%d %B") %></p>
      </div>
    <% end %>
  <% end %>
 </div>


