<div class="content-container">
  <h1>Emergency Wiki h1</h1>
  <h2>Components Overview h2</h2>
  <h3>This is a h3</h3>

  <p>And some text: Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit officia nesciunt odio? Nulla, rerum? Laborum cupiditate facere sit nostrum consequatur qui iure cum. Repellendus eos porro ab, vero, officiis libero accusamus quibusdam cupiditate sapiente nam voluptas. Ea optio odit a assumenda quam quidem enim nostrum, fugit aliquam animi magnam asperiores.</p>

  <p>we have these $colors predefined:</p>
  <div style="width: 120px; height: 40px; display: inline-block; background-color: #CCEAE1; text-align: center; margin-right: 10px; ">$light-green</div>
  <div style="width: 120px; height: 40px; display: inline-block; background-color: #4DAC92; text-align: center; margin-right: 10px; ">$main-green</div>
  <div style="width: 120px; height: 40px; display: inline-block; background-color: #0F926D; text-align: center; margin-right: 10px; ">$dark-green</div>
  <div style="width: 120px; height: 40px; display: inline-block; background-color: #B71818; text-align: center; margin-right: 10px; ">$alert-red</div>
  <div style="width: 120px; height: 40px; display: inline-block; background-color: #980202; text-align: center; margin-right: 10px; ">$dark-red</div>
  <br>
  <br>
  <p>for the small buttons use .button-small-green and .button-small-red</p>
  <div style="margin-right: 10px; margin-bottom: 10px;">
    <a class="button-small-green" href="#">return</a>
    <a class="button-small-red" href="#">inactivate</a>
  </div>
  <br>
  <p>medium buttons:</p>
  <div style="margin-right: 10px;">
    <a style="margin-bottom: 10px;" class="button-medium-green" href="#">.button-big-green</a>
    <a class="button-medium-red" href="#">.button-big-red</a>
  </div>
  <br>
  <p>big buttons:</p>
  <div style="margin-right: 10px;">
    <a style="margin-bottom: 10px;" class="button-big-green" href="#">.button-big-green</a>
    <a class="button-big-red" href="#">.button-big-red</a>
  </div>
  <br>
  <br>
  <p>for the go-back button use .button-go-back:</p>
  <a class="button-go-back" href="#">.button-go-back</a>
  <br>
  <p>this is the header for the visitors index and show:</p>
</div>
<%= render 'shared/visitors-header' %>

