$white: whitesmoke;
$light-gray: #D3D7CF;
$gray: #2E3436;
$blue: #204A87;
$green: #2D5C00;
$yellow: #F6CB14;
$orange: #E28B00;
$red: #CC0000;
$black: #0B0B0B;

$light-green: #CCEAE1;
$main-green: #4DAC92;
$dark-green: #0F926D;
$black-green: #194135;
$alert-red: #B71818;
