// Import Google fonts
@import url('https://fonts.googleapis.com/css2?family=Assistant&family=Montserrat&display=swap');
// Define fonts for body and headers
$body-font: 'Assistant', sans-serif;
$headers-font: 'Montserrat', sans-serif;

//font families for headers and text
h1, h2, h3 {
  font-family: $headers-font;
}

p, a {
  font-family: $body-font;
}

body p {
  margin: 0;
  padding: 0;
}

body a:hover {
  text-decoration: none;
}
//font sizes
body {
  h1 {
    font-size: 24px;
  }

  h2 {
    font-size: 16px;
  }

  h3 {
    font-size: 12px;
  }
}


@media (min-width: 992px) {

  body {
    h1 {
      font-size: 48px;
    }

    h2 {
      font-size: 32px;
    }

    h3 {
      font-size: 24px;
    }
  }
}


