// put your style for the home page here
.algolia-places {
  max-width: 80%;
  display: inline !important;
}

.search{
  display: flex;
  justify-content: center;
}

#km {
  margin-bottom: 10px;
  width: 80px;
  height: 60px;
  font-size: 20px;
  border-color: $main-green;
  border-width: 2px;
  border-radius: 5px;
  margin-left: 30px;
}

.algolia-form{
  max-width: 80%;
}

#query {
  background-color: #F5F5F5;
  height: 60px;
  width: 65vw;
  border-radius: 5px;
  border-color: $main-green;
  border-width: 2px;
  box-shadow: 1px 1px 1px rgba(77, 172, 146, 0.5);
}

.ap-input {
  //font-weight: bold;
}

.ap-input-icon svg {
  height: 40px !important;
  fill: $dark-green;
  padding-bottom: -40px;
  top: 50%;

}

.ap-input:hover ~ .ap-input-icon svg, .ap-input:focus ~ .ap-input-icon svg, .ap-input-icon:hover svg {
    fill: $dark-green;
}

.ap-suggestion-icon svg {
    fill: $main-green;
}

.ap-cursor .ap-suggestion-icon svg {
    fill: $dark-green;
}

.ap-input-icon:hover svg {
  fill: $main-green !important;
}

input[type="submit" i] {
  border-style: none;
}

.category-cards-radio {
  display: none;
}

.category-boxes {
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
  flex-wrap: wrap;
  margin-top: 50px;
  margin-bottom: 50px;
}

.home-search-container {
  width: 100vw;
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 170px;
}

.button-centered {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.category-boxes label {
  width: 220px;
  height: 125px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  margin-bottom: 5px;
  font-size: 32px;
  &:hover {
    cursor: pointer;
  }
}

.category-cards.active {
  background-color: $alert-red;
}
