// put your style for the home page here
.algolia-places {
  width: 80%;
  display: inline !important;
}
.algolia-form{
  width: 80%;
}


input[type="submit" i] {
  border-style: none;
}

input[type="radio"] {
  display: none;
}

.category-boxes {
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
  flex-wrap: wrap;
  margin-top: 50px;
  margin-bottom: 50px;
}

.home-search-container {
  width: 100vw;
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.button-centered {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.category-boxes label {
  width: 220px;
  height: 125px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  margin-bottom: 5px;
  font-size: 32px;
  &:hover {
    cursor: pointer;
  }
}

.category-cards.active {
  background-color: $alert-red;
}
