// put your style for the home page here
.algolia-places {
  width: 80%;
  display: inline !important;
}
.algolia-form{
  width: 80%;
}


input[type="submit" i] {
  border-style: none;
}

input[type="radio"] {

}

.category-boxes {
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
  flex-wrap: wrap;
  margin-top: 50px;
  margin-bottom: 50px;
}

.home-search-container {
  width: 100vw;
  align-items: center;
  display: flex;
  justify-content: center;
  height: 60vh;
}

.button-centered {
  display: flex;
  justify-content: center;
}
