// put your style for the users index page here
.user-business-grid {
  display: grid;
  justify-items: center;
  align-items: center;
  grid-gap: 5px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  padding: 10px;
}

#welcome-user {
  color:white;
	font-size: 50px;
	-webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: $dark-green;
  text-shadow: 2px 2px 2px $main-green;
}

.margin-button{
  padding: 50px 30px 30px 30px ;
}

.manage{
  background-color: transparent;
  border: 2px solid $main-green;
  padding: 20px 40px;
  border-radius: 5px;
  color: $main-green;
  opacity: 0.6;
}

.manage:hover {
  opacity: 1;
  color: $dark-green;
  box-shadow: 2px 2px 2px $dark-green;
}

@media (max-width: 1460px) {
   .user-business-grid {
     grid-template-columns: 1fr 1fr 1fr;
     justify-items: center;
  }
}

@media (max-width: 1224px) {
   .user-business-grid {
     grid-template-columns: 1fr 1fr;
     justify-items: center;
  }
  .manage{
    margin: 15px 30px;
  }
}

@media (max-width: 850px) {
   .user-business-grid {
    grid-template-columns: 1fr;
    justify-items: center;
    width: 100vw;
    padding: 3px;
  }
  #welcome-user {
    font-size: 2.1rem;
  }
  .manage{
    padding: 5px 10px;

  }
}
@media (max-width: 400px) {
   .user-business-grid {
    grid-template-columns: 1fr;
    justify-items: center;
    width: 100vw;
    padding: 3px;
  }
  #welcome-user {
    font-size: 2.1rem;
  }
  .manage p {
    font-size: 2px;
  }
}
