// // put your style for the users new business page here
.add-business-form input[type="radio"] {
  display: block;
}

.add-business-form label {
  margin-left: -4px;
}

.add-business-form {
  font-size: 20px;
}

.update-business-container,
.new-business-container {
  margin: 20px;
  position: relative;
  padding-bottom: 100px;
}

.flexCheckDefault{
  background-color: $main-green;

}

.form-check {
    position: relative;
    display: block;
    padding-left: 4.25rem;
    margin-left: -40px;
}
.flexbox{
  display: flex;
  justify-content: space-around;
  position: absolute;
}

.new-business-container h2{
  margin-left: -3px;
  margin-top: 100px;
}

.update-business-container h2 {
  margin-left: -3px;
  margin-top: 40px;
}
 .btn{

  margin-left: -13px;
 }

 .new-business-title {
    color: white;
    font-size: 36px;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: #0F926D;
    text-shadow: 2px 2px 2px #4dac92;
 }

  .new-business-subtitle {
    color: white;
    font-size: 24px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #0F926D;
    text-shadow: 2px 2px 2px #4dac92;
 }

 @media only screen and (min-width: 992px) {
  .new-business-container h2{
  margin-top: 150px;
  }
 }

  @media only screen and (min-width: 992px) {
  .update-business-container h2{
    margin-top: 100px;
  }
 }
