 .business-index-container {
   display:flex;
   align-items: flex-start;
   margin-top: 140px;

 }

 .business-cards-container {
    flex-grow: 1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    margin: 20px;
    width: 50%;

}

.map-container-index {
  height: 100vh;
  width: 50%;
  position: sticky;
  top: 0;
  object-fit: cover;
}


/*Media Queries*/

@media (max-width: 1430px) {
   .business-cards-container {
     grid-template-columns: 1fr;
     justify-items: center;
  }
}

@media (max-width: 992px) {
  .business-index-container {
    flex-direction: column;
    align-items: center;
    margin-top: 120px;
  }
  .map-container-index {
    width: 100vw;
    height: 50vh;
  }

  .business-cards-container {
    grid-template-columns: 1fr 1fr;
    width: 100%;
  }
}

@media (max-width: 730px) {
   .business-cards-container {
   grid-template-columns: 1fr;
   justify-items: center;
  }
}


