// put your style for the visitor businesses show page here
.show-content-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100vh;
  margin-top: 140px;
}

.show-info-flex {
  display: inline-flex;
}

.show-info {
  margin: 70px;
}

.show-info-description {

}

.show-info-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding-top: 20px;
}

.show-map {
  height: 100vh;
}

#show-button {
  display:inline-block;
  justify-content: center;
  align-content: center;
  margin-top: 30px;
}

@media (max-width: 1430px) {
   .business-cards-container {
     grid-template-columns: 1fr;
     justify-items: center;
  }
}

@media (max-width: 992px) {
  .business-index-container {
    flex-direction: column;
    align-items: center;
    margin-top: 120px;
  }
  .map-container-index {
    width: 100vw;
    height: 50vh !important;
  }

  .business-cards-container {
    grid-template-columns: 1fr 1fr;
    width: 100%;
  }
}

@media (max-width: 730px) {
   .business-cards-container {
   grid-template-columns: 1fr;
   justify-items: center;
  }
}

