// put your style for the visitor businesses show page here
.show-content-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100vh;
  margin-top: 140px;
  position: relative;
}
.show-info-flex {
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
}
.show-info {
  margin: 70px;
}
.show-info-description {
  text-align: left;
  width: 50%;
}
.show-info-logo {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 50%;
  height: 100%;
  padding-top: 20px;
}
.show-map {
  height: calc(100vh - 140px - 48px);
  width: 50%;
  position: fixed;
  top: 140;
  right: 0;
  object-fit: cover;
}

#show-button {
  display:inline-block;
  justify-content: center;
  align-content: center;
  margin-top: 30px;
  text-shadow: none;
  font-weight: bold;
}

#phone-number-show {
  margin-top: 16px;
  font-size: 24px;
}

  #gps-button {
    position: absolute;
    right: 20px;
    bottom: 50px;
    z-index: 10;
    font-size: 20px;
    animation: pulsing 1300ms infinite;
  }

@media (max-width: 1300px) {
  .show-content-container {
  display: grid;
  grid-template-columns: 1fr;
  height: 100vh;
  margin-top: 140px;
  }
  .show-map {
  height: 60vh;
  width: 100%;
  position: relative;
  }
  .show-info {
    text-align: center;
    margin: 20px;
  }
  .show-info-flex {
    width: 100%;
  }
  #show-title {
    font-size: 32px;
  }

  #show-address {
    font-size: 24px;
  }

  #gps-button {
    position: absolute;
    left: 20px;
    bottom: 70px;
    z-index: 10;
    font-size: 14px;
    animation: pulsing 1300ms infinite;
  }
}

@media (max-width: 992px) {
  .show-content-container {
    margin-top: 100px;
  }
}

@media (max-width: 480px) {
  .show-info-logo {
    width: 40px;
    height: 40px;
    margin: 20px;
  }
  #show-title {
    font-size: 32px;
  }

  #show-address {
    font-size: 24px;
  }

  .show-map {
    height: 70vh;
  }

  .show-info-description {
    width: 70%
  }

  #gps-button {
  position: absolute;
  left: 20px;
  bottom: 70px;
  z-index: 10;
  font-size: 14px;
  animation: pulsing 1300ms infinite;
  }
}

#blinking-show{
  font-size: 32px;
  color: white;
  font-weight: bold;
  margin: 20px;
  animation: pulsing 1300ms infinite;
}

@keyframes glowing {
  0% {
    background-color: $alert-red;
    box-shadow: 0 0 5px $alert-red;
  }
  50% {
    background-color: red;
    box-shadow: 0 0 20px red;
  }
  100% {
    background-color:  #f80303;
    box-shadow: 0 0 5px #f80303;
  }
}

@keyframes pulsing {
  0% {
    background-color: $alert-red;
    box-shadow: 0 0 5px $alert-red;
  }
  50% {
    background-color: $alert-red;
    box-shadow: 0 0 20px $alert-red;
  }
  100% {
    background-color:  $alert-red;
    box-shadow: 0 0 5px $alert-red;
  }
}


