<footer>
    <span>© Emergency Wiki, 2021</span>
    <% if user_signed_in? %>
      <%= link_to "Logout", destroy_user_session_path, class: "login", :method => :delete %>
    <% else %>
      <%= link_to "Login", new_user_session_path, class: "login" %>
    <% end %>
</footer>
