<header>
  <%= image_tag "emergency-wiki-logo.png", id:"logo" %>
  <div id="title">
    <h1>Emergency Wiki</h1>
    <h3>Find the Closest On-call Healthcare Services in just a Few Clicks!</h3>
  </div>
</header>
