<header>
  <%= link_to :back do %>
    <i class="fas fa-arrow-alt-circle-left", id="back-arrow"></i>
    <% end %>
    <h1 id="visitors-title">Emergency Wiki</h1>
    <%= image_tag "emergency-wiki-logo.png", id:"logo" %>
</header>

