<div class="landing-container ">
  <div class="landing-header">
    <h1>Welcome to Emergency Wiki</h1>
    <h6 id="subtitle">Need a Health service provider outside of business hours?
    <br>Get help in a few clicks.</h>
  </div>
  <div class="instructions">
    <%= image_tag "emergency-wiki-logo.png", class: "landing-image" %>
    <h4>1. Input your location.
    <br>2. Select the service needed.
    <br>3. Click search!
    </h4>
    <div class="mt-5">
      <%= link_to "Start Here", home_path, class:"landing-btn" %>
    </div>
  </div>
</div>
