// green buttons

.button-small-green {
  display: inline-block;
  padding: 12px 16px;
  background-color: $main-green;
  border-radius: 24px;
  color: white;
  font-weight: bold;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  &:hover {
    background-color: $dark-green;
    text-decoration: none;
    color: white;
  }
}

// red buttons

// go back button

.button-go-back {
  padding: 10px;
  background-color: $main-green;
}

// for the slide buttons see _slide-buttons.scss
