// this is the CSS for the category, businesses and user cards

.user-businesses-cards,
.category-cards,
.businesses-cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 340px;
  height: 125px;
  background-color: $main-green;
  border-radius: 8px;
  line-height: 1.2;
  color: white;
  margin: 10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  overflow: none;
  &:hover {
    background-color: $dark-green;
    text-decoration: none;
    color: white;
  }
}

.user-businesses-cards-logo,
.businesses-cards-km {
  display: flex;
  align-items: center;
  height: 125px;
  width: 70px;
  border-radius: 0px 8px 8px 0px;
  background-color: $light-green;
  color:black;
  text-align: center;
  h5 {
  text-shadow: 2px 2px 2px white;
  }
}

.category-cards-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 125px;
  width: 120px;
  border-radius: 0px 8px 8px 0px;
  background-color: $light-green;
  text-align: center;
  margin-right: 0;
}

.user-businesses-cards-logo,
.category-cards,
.businesses-cards-km {
 padding: 16px;
 padding-right: 0;
}

.user-business-cards-info,
.businesses-cards-info{
  display: inline-block;
  padding: 15px;
}

.user-businesses-cards h5,
.category-cards h2,
.businesses-cards {
  font-weight: bold;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  margin-bottom: 5px;
  &:hover {
    text-decoration: none;
  }
}

.category-cards h2 {
  font-size: 32px;
}

// this is the css for the user business cards
.user-cards {

}
