// this is the CSS for the category images
.show-image {
  width: 200px;
}

.category-image {
  width: 80px;
  height: 80px;
}

@media (max-width: 992px) {
  .show-image {
    width: 160px;
  }
}

.users-business-image {
  width: 40px;
  height: 40px;
}

@media (max-width: 480px) {
  .show-image {
    width: 100px;
  }
}
