// put your style for the header here
header {
  display: flex;
  position: fixed;
  top: 0;
  z-index: 10;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  padding-right: 20px;
  background-color: $light-green;
  width: 100vw;
  height: 100px;
  h1 {
    font-size: 24px;
    text-shadow: 2px 2px 2px white;
  }
  h3 {
    font-size: 12px;
    text-shadow: 1px 1px 1px white;
  }
}

#home-logo {
  width: 80px;
}

#logo {
  width: 80px;
  display: none;
}

#title {
  display: block;
  text-align: right;
  margin: 10px;
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  header {
    height: 140px;
  }

  #logo {
  width: 120px;
  display: none;
  }

  #home-logo {
    width: 120px;
  }

  header h1 {
    font-size: 48px;
  }

  header h3 {
    font-size: 24px;
  }
}
