

.title h2{
  text-align: center;
}

.container-popup{
  border-radius: 30px;
  color: black;
  border-color: none;

}


.text p{
  text-align:center;

}

.popup :hover > p{
  -webkit-filter: opacity(.5);
  filter: opacity(.5);
}

