.mapboxgl-popup {
  max-width: 200px;
  }
.mapboxgl-popup-content {
  text-align: center;
  font-family: ‘Open Sans’, sans-serif;
}
.map {
  width: 100px;
  height: 100%;
  position: sticky;
  top: 0;
  right: 0;

}
.map-container{
  display: flex;
  justify-content: space-between;
}

a.mapboxgl-ctrl-logo {
  z-index: 2;
}

/* @media (min-width: 1200px)
.map {
  display: block;
}
// @media (min-width: 576px)
// .map {
//     display: none;
// } */
