.mapboxgl-popup {
  max-width: 200px;
  }
.mapboxgl-popup-content {
  text-align: center;
  font-family: ‘Open Sans’, sans-serif;
  border-style: double;
  border-width: 2px;
  border-color: $main-green;
  padding: 0;
  h2 {
    font-weight: bold;
    padding-top: 10px;
    font-size: 24px;
  }

  p {
    font-size: 18px;
    font-weight: bold;
  }
  a {
    color: $main-green;
  }
  a:hover {
    color: $dark-green;
  }
}
.map {
  width: 100px;
  height: 100%;
  position: sticky;
  top: 0;
  right: 0;

}
.map-container{
  display: flex;
  justify-content: space-between;
}

a.mapboxgl-ctrl-logo {
  z-index: 2;
}

.mapboxgl-popup-close-button {
  font-size: 30px;
  color: $main-green;
  margin: 3px;
}


/* @media (min-width: 1200px)
.map {
  display: block;
}
// @media (min-width: 576px)
// .map {
//     display: none;
// } */
.mapboxgl-popup-close-button{
    position: absolute;
    right: 0;
    top: 0;
    border: 0;
    border-radius: 0 3px 0 0;
    cursor: pointer;
    background-color: transparent;
    font-size: 30px;
}
